body {
  background-color: #e4c7c3;
  color: #34342e;
  max-width: 100%;
}
main {
  font-family: "Raleway", sans-serif;
}
.App .container {
  margin: 0 auto;
}
@media (max-width: 400px) {
  body {
    margin-right: 10px;
    max-width: 100%;
  }
}
footer {
  font-size: 12px;
  text-align: center;
  margin: 0 auto;
  font-family: "Raleway", sans-serif;
  margin-bottom: 10px;
}
a {
  color: #34342e;
}
a ::after {
  color: #34342e;
}
