.Dictionary {
  margin: 0 auto;
  max-width: 100%;
}
.Dictionary section {
  padding: 20px;
  margin: 20px 0 20px 0;
}
.Dictionary input {
  width: 100%;
  padding: 16px 16px;
  border: none;
  border-radius: 32px;
  display: block;
  color: #333;
  background-color: #f0f3f4;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
}
.Dictionary input:focus {
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.2);
}
.Dictionary .hint {
  display: block;
  width: 80%;
  padding: 10px 6px 20px 2px;
}
.Dictionary .question {
  margin: 30px 0;
  width: 100%;
  font-weight: bold;
  font-size: 28px;
}
.Dictionary .mainSection {
  max-width: 768px;
}
@media (max-width: 912px) {
  .Dictionary section {
    margin: 10px 0 0 10px;
    padding: 10px;
  }
  .Dictionary .hint {
    font-size: 12px;
  }
  .Dictionary .question {
    font-size: 22px;
  }
}
