.Dictionary section {
  background-color: white;
  padding: 30px;
  border-radius: 6px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 10%);
  margin: 20px 0;
}
.Dictionary input {
  width: 80%;
  padding: 6px 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: block;
  margin: 0 auto;
  color: #333;
}
.Dictionary .hint {
  display: block;
  margin: 0 auto;
  width: 80%;
  padding: 10px 6px 20px 2px;
}
.Dictionary .question {
  margin: 20px auto;
  width: 80%;
  font-weight: bold;
}
