.Meaning h3 {
  font-size: 24px;
  line-height: 1.5;
  font-weight: bold;
}

.Meaning .example {
  color: #70757a;
  font-style: italic;
  margin-top: 8px;
}
.Meaning .definition {
  line-height: 1.6;
  font-size: 18px;
}
@media (max-width: 912px) {
  .Meaning .definition {
    font-size: 16px;
  }
}
