.Phonetic {
  margin-bottom: 20px;
}
.Phonetic a {
  border: 1px solid #ddd;
  text-decoration: none;
  font-size: 13px;
  font-weight: bold;
  margin-right: 10px;
  padding: 10px 20px;
  border-radius: 20px;
  color: #000;
  transition: all 150ms ease-in-out;
  color: blueviolet;
}
.Phonetic a:hover {
  background-color: blueviolet;
  color: white;
}
.Phonetic .text {
  opacity: 0.7;
}
