.Results h2 {
  font-size: 54px;
  font-weight: 900;
  line-height: 1.5;
  padding-bottom: 10px;
  font-family: "Playfair Display", serif;
}
@media (max-width: 912px) {
  .Results h2 {
    font-size: 42px;
  }
}
