.Synonyms {
  margin: 20px 0 0;
  padding: 0;
}
.Synonyms li {
  display: inline-block;
  list-style: none;
  padding: 10px 15px 10px 15px;
  margin-bottom: 20px;
  margin-right: 10px;
  font-size: 14px;
  border: 1px solid #34342e;
  font-weight: bold;
  border-radius: 20px;
  color: #34342e;
}
